
*{
    margin: 0;
}

body{
    background: #F2F2F2;
}


.main-devices__block{
    height: 56px;
    border-top: 2px solid #D9FFF5;
    background-image: linear-gradient( to bottom,#FFFFFF, #F8F8F8 ) ;
    margin-bottom: 24px;
}

.main-devices__title{
    margin-left: 32px;
    margin-top: 16px;
    text-transform: uppercase;
}

.main-devices__wrapper{
 margin: auto ;
 width: fit-content;
}

.main-devices__list{
    display: grid;
    grid-template-columns: repeat(4, 240px);
    list-style: none;
    padding: 0;
    margin: 0;
     column-gap: 32px;
     row-gap: 16px;
     margin-bottom: 24px;

}

.main-devices__item{
position: relative;
box-sizing: border-box;
min-width: 240px;
max-width: 240px;
min-height: 72px;
max-height: 72px;
border: 1px solid #EAEAEA;
border-radius: 4px;
background-color: #FFFFFF;
background-repeat: no-repeat;
background-position: 16px;
}

.main-devices__item::before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top:16px;
    left: 180px;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    pointer-events: none;
}
.main-devices__item::after{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 31px;
    left: 194px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #FF3E79;
    border-right: 2px solid #FF3E79;
    transform: rotate(-45deg);
    pointer-events: none;
}

.main-devices_href{
    display: block;
    width: inherit;
    height: inherit;}

.main-devices__hidden-text{
  position: relative;
  margin-left: 32px;
  cursor: pointer;
  animation-name: hidden;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.main-devices__hidden{
  height: 100px;
  transition: 1s ease-in-out;
  background-color: #F2F2F2;
}

 .main-devices__hidden_animate-to{
   transform: translateY(-100px);
}

.main-devices__hidden_animate-back{
    transform: translateY(0);
} 

:root {
    --angle: -135deg;
    --top-before: 6px;
    --top-after: 11px;
  }

.main-devices__hidden-text::before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: var(--top-before);
    left: -20px;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #41F6D7;
    border-right: 2px solid #41F6D7;
    transform: rotate(var(--angle));
}

.main-devices__hidden-text::after{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: var(--top-after);
    left: -20px;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #41F6D7;
    border-right: 2px solid #41F6D7;
    transform: rotate(var(--angle));
}

/* =========== font =============== */
@font-face {
    font-family: 'TTLakes-Medium';
    src: url('./font/TTLakes-Medium.eot');
    src: local('./font/TT Lakes Medium'), local('TTLakes-Medium'),
        url('./font/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('./font/TTLakes-Medium.woff') format('woff'),
        url('./font/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes-Regular';
    src: url('./font/TTLakes-Regular.eot');
    src: local('./font/TT Lakes Regular'), local('TTLakes-Regular'),
        url('./font/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/TTLakes-Regular.woff') format('woff'),
        url('./font/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main-devices__title_font{
  font-family: 'TTLakes-Regular';
  color: #7E7E82;
  font-size: 16px;
}

.main-devices__hidden_font{
    font-family: 'TTLakes-Medium';
    color: #1B1C21;
    font-size: 16px;
}

.swiper {
    width: 272px;
    height: 110px;
  }

.none {
    display: none;
}